In [1]:
car_ages = [0, 9, 4, 7, 20, 19, 1, 6, 15]
car_ages_descending = sorted(car_ages, reverse=True)
oldest, second_oldest = car_ages_descending

ValueError: too many values to unpack (expected 2)

In [2]:
oldest = car_ages_descending[0]
second_oldest = car_ages_descending[1]
others = car_ages_descending[2:]
print(oldest, second_oldest, others)

20 19 [15, 9, 7, 6, 4, 1, 0]

In [3]:
oldest, second_oldest, *others = car_ages_descending
print(oldest, second_oldest, others)

20 19 [15, 9, 7, 6, 4, 1, 0]

In [4]:
oldest, *others, youngest = car_ages_descending
print(oldest, youngest, others)

*others, second_youngest, youngest = car_ages_descending
print(youngest, second_youngest, others)

20 0 [19, 15, 9, 7, 6, 4, 1]
0 1 [20, 19, 15, 9, 7, 6, 4]

In [5]:
*others = car_ages_descending

SyntaxError: starred assignment target must be in a list or tuple (2422727027.py, line 1)

In [6]:
first, *middle, *second_middle, last = [1,2,3,4]

SyntaxError: multiple starred expressions in assignment (1671393997.py, line 1)

In [7]:
car_inventory = {
    '시내': ('그랜저', '아반떼', '티코'),
    '공항': ('젠쿱', '소나타', '과학5호기', '엑센트')
}
((loc1, (best1, *rest1)),
(loc2, (best2, *rest2))) = car_inventory.items()
print(f'{loc1} 최고는 {best1}, 나머지는 {len(rest1)} 종')
print(f'{loc2} 최고는 {best2}, 나머지는 {len(rest2)} 종')

시내 최고는 그랜저, 나머지는 2 종
공항 최고는 젠쿱, 나머지는 3 종

In [9]:
short_list = [1,2]
first, second, *rest = short_list
print(first, second, rest)

1 2 []